
@model IEnumerable<EntityLayer.Concrete.Blog>
@{ ViewBag.Title = "AdminBlogList";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>BLOG LİSTESİ</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>KATEGORİ</th>
        <th>TARİH</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
        <th>YORUMLAR</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BlogID</td>
    <td>@item.BlogTitle</td>
    <td>@item.Category.CategoryName</td>
    <td>@item.BlogDate.ToShortDateString()</td>
    <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">SİL</a></td>
    <td><a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-success">GÜNCELLE</a></td>
    <td><a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-warning">DETAYLAR</a></td>
    <td><a href="/Blog/GetCommentByBlog/@item.BlogID" class="btn btn-dark">YORUMLAR</a></td>
</tr>}
</table>
<a href="/Blog/AddNewBlog/" class="btn btn-primary">YENİ BLOG EKLE</a>


