
@{
    Layout = null;
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>404 HATA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/404_error/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!-----start-wrap--------->
    <div class="wrap">
        <!-----start-content--------->
        <div class="content">
            <!-----start-logo--------->
            <div class="logo">
                <h1><img src="/404_error/images/logo.png" /></h1>
                <span><img src="/404_error/images/signal.png" />Hata! İstediğiniz sayfa bulunamadı!</span>
            </div>
            <!-----end-logo--------->
            <!-----start-search-bar-section--------->
            <div class="buttom">
                <div class="seach_bar">
                    <p><span><a href="/Blog/Index/">ANA SAYFA</a></span></p>
                    <!-----start-sear-box--------->
                    
                </div>
            </div>
            <!-----end-sear-bar--------->
        </div>
        <!----copy-right-------------->
        <p class="copy_right">&#169; 2023 Tüm Hakları Saklıdır<a href="https://ahmetaltuntas708.wixsite.com/aacv" target="_blank">&nbsp;Ahmet Ferhat</a> </p>
    </div>

    <!---------end-wrap---------->
</body>
</html>
